

<!-- <h3> You are now using <em><%= @cocktail.name %></em> .
What is your brilliant new name?

</h3>

<%#= simple_form_for @cocktail  do |f| %>
<%#= f.error_notification %>
  <%#= f.text_field :name %>
  <%#= f.submit class:"btn btn-primary"%>
<%# end %>
 -->
